.grid{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 300px;
    height: 300px;
}
.grid div{
    width: 20px;
    height: 20px;
}

.shooter{
    background-image: url('spaceship.svg');
}
.invader{
    background-image: url('spaceship.png');
    /* background-color: purple; */
}

.boom{
    border-radius: 10px;
    background-color: rgb(214, 124, 124);
}
.laser{
    background-image: url('bullet.svg');
}